*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Variables*/
:root{
    /*Fuentes*/
    --fontmain: 'Margarine', cursive;
    --fontsecondary: 'Varta', sans-serif;
    /*Colores*/
    --rosa: #FE709A;
    --celeste: #6BB7E9;
    --cremita: #F2DCBF;
    --amarillo: #F0EC86;
}
/*Estilos generales*/
.subtitulo{
    font-family: var(--fontmain);
}
.subtitulo1{
    font-family: var(--fontmain);
    color: var(--rosa);
}
.subtitulo2{
    font-family: var(--fontmain);
    color: var(--celeste);
}
.subtitulo3{
    font-family:var(--fontmain);
    color: var(--cremita);
}
p, li{
    font-family: 'Varta', sans-serif;
    font-size: 1.2rem;
}
/*Menú de navegación*/
.hero{
    background: #F0EC86;
}
.hero img{
    width: 150px;
}
#navbarNav .nav-link{
    color: var(--rosa);
    font-family: var(--fontmain);
    font-size: larger;
}
#navbarNav .nav-link:hover{
    color: var(--celeste);
    transition: 0.8s;
}
.portada{
    background-image: url( ../img/encabezado.jpg);
    height: 300px;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
}
.txt-bienvenida a{
    color: var(--celeste);
    text-decoration: none;
    font-weight: 600;
}
.txt-bienvenida a:hover{
    color: var(--rosa);
    text-decoration: none;
    font-weight: 600;
    transition: 0.8s;
}
.noticias-home{
    background: #F0EC86;
}
.noticias-home .card img {
    border: 2px solid var(--celeste);
}
.btn-noticias{
    border: 2px solid var(--celeste);
    border-radius: 30px;
    background: #fff;
    color: var(--celeste);
    text-decoration: none;
    padding: 10px 20px;
    font-family: 'Margarine', cursive;
    font-size: 1rem;
    display: inline-block;
    position: relative;
    top: -30px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}
.btn-noticias:hover{
    color: var(--celeste);   
}
/*Estilos "Nosotros"*/
.nosotros-card{
    background: var(--rosa);
    border: 3px solid var(--cremita);
    border-radius: 30px;
    padding: 50px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5)
}
.textos-card{
    width: 75%;
}
.textos-card p{
    color: #fff;
}
.img-card{
    width: 250px;
}
.img-card img{
    width: 100%;
    border-radius: 30px;
}
/*Estilos "Colaborar"*/
.estilo-card{
    background: var(--cremita);
}
.img-colaborar{
    width: 200px;
}
.lista-mp li{
    list-style: none;
    font-family: var(--fontmain);
    font-size: 1.5rem;
    padding: 10px 0;
}
.lista-mp a{
    text-decoration: none;
    color: #fff;
    background:var(--celeste);
    border-radius: 10px;
    padding: 5px;
    font-family: var(--fontmain);
    font-size: 1.5rem;
}
.formulario-debito{
    color: var(--rosa);
    font-weight: 500;
}
.formulario-debito:hover{
    color: var(--celeste);
    transition: .5s;
}
/*Estilos "Adoptar"*/
.contenedor-catalogo{
    width: 100%;
    height: auto;
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}
.img-animales{
    width: 100%;
    height: 300px;
}
.img-animales img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 10px;
}
.overlay{
    position: absolute;
    background: rgba(240, 236, 134, .5);
    bottom: 0;
    left: 0%;
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: .5s ease;
}
.overlay a{
    color: var(--rosa);
    font-family: var(--fontmain);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.overlay a:hover{
    color: var(--celeste);
}
.contenedor-catalogo:hover .overlay{
    height: 100%;
    cursor: pointer;
}
/*Estilos "Contacto"*/
.contacto form{
    width: 400px;
}
.input{
    font-family: var(--fontsecondary);
    font-size: 1.2rem;
    font-weight: 300;
}
input, textarea{
    background: var(--cremita);
    border-radius: 15px;
    border-style: none;
    margin: 5px 0;
}
input{
    padding: 10px 0;
}
.input input:focus{
    outline: 3px solid var(--rosa);
}
.input textarea:focus{
    outline: 3px solid var(--rosa);
}
.btn-contacto button{
    font-family: var(--fontsecondary);
    font-size: 1rem;
    border-radius: 10px;
    border-style: none;
    background: var(--amarillo);
    padding: 8px;
    margin-top: 5px;
}
.btn-contacto button:hover{
    cursor: pointer;
}
/*Footer*/
.footer{
    background: var(--amarillo);
    height: auto;
}
.iconos-footer img{
    width: 50px;
    height: 50px;
}
/*Responsive página "Adoptar"*/
@media  screen and (min-width:560px){
    .contenedor-catalogo{
        width: 30%;   
    }
}
    
